body {
    background-color: white;
    border: 2px solid orangered;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    max-width: 2048px;
    min-width: 512px;
    text-align: center;
  }
  h1 {
    color: orange;
    font-family: 'Serif Font';
    font-size: 300%;
    text-align: center;
  }
  div {
    color: black;
    font-family: serif;
    font-size: 125%;
    border: orange;
  }